body {
  margin: 10;
  padding: 10;
  /* background-color: #23049D; */
  color: #AA2EE6;
  font-weight: bold;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
}

/* #FFDF6B */

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border:solid #FFDF6B 15px;
  margin: 0 auto;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color:  hotpink;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: #23049D;
}

.power-pellet {
  background-color: hotpink;
  border-radius: 50%;
}

.pacman {
  background-color:  #FF7600;
  border-radius: 50%;
  border: none;
}

/* .ghost-lair {
  background-color: white;
} */