body {
  margin: 10;
  padding: 10;
  /* background-color: #23049D; */
  color: #AA2EE6;
  font-weight: bold;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
}

/* #FFDF6B */

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border:solid #FFDF6B 15px;
  margin: 0 auto;
}

.grid div {
  width: 15px;
  height: 15px;
}

div.image {
  content: url(/js/images/pacman-logo.png);
  margin: 0 auto;
}

h2 {
  margin-top: 0;
  color: orange;
}

.pac-dot {
  background-color:  fuchsia;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: #23049D;
}

.power-pellet {
  background-image: url(/js/images/cherry.png);
  /* border-radius: 50%; */
}

.pacman {
  /* background-color:  #FF7600; */
  background-image: url(/js/images/pacman.png);
  border-radius: 50%;
  border: none;
}

.blinky {
  background-image: url(/js/images/blinky.png);
  border: none;
  border-radius: 25%;
  background-color: #fff;
}

.pinky {
  background-image: url(/js/images/pinky.png);
  border-radius: 25%;
  border: none;
  background-color: #fff;
}

.inky {
  /* background-color: turquoise; */
  background-image: url(/js/images/inky.png);
  border-radius: 25%;
  border: none;
  background-color: #fff;
}

.clyde {
  /* background-color: orange; */
  background-image: url(/js/images/clyde.png);
  border-radius: 25%;
  border: none;
  background-color: #fff;
  
}

.scared-ghost {
  background-image: url(/js/images/scared-ghost.png);
}